-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: topline_manufacturing
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `component_stock`
--

DROP TABLE IF EXISTS `component_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `component_stock` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `component_id` int(11) NOT NULL,
  `current_stock` int(11) DEFAULT 0,
  `reserved_stock` int(11) DEFAULT 0,
  `available_stock` int(11) GENERATED ALWAYS AS (`current_stock` - `reserved_stock`) STORED,
  `location` varchar(100) DEFAULT 'WAREHOUSE',
  `last_transaction_date` timestamp NULL DEFAULT NULL,
  `last_updated_by` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_component_id` (`component_id`),
  KEY `idx_location` (`location`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `component_stock_ibfk_1` FOREIGN KEY (`component_id`) REFERENCES `master_component` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `component_stock`
--

LOCK TABLES `component_stock` WRITE;
/*!40000 ALTER TABLE `component_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `component_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material_stock`
--

DROP TABLE IF EXISTS `material_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `material_stock` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `material_id` int(11) NOT NULL,
  `current_stock` int(11) DEFAULT 0,
  `reserved_stock` int(11) DEFAULT 0,
  `available_stock` int(11) GENERATED ALWAYS AS (`current_stock` - `reserved_stock`) STORED,
  `location` varchar(100) DEFAULT 'WAREHOUSE',
  `last_transaction_date` timestamp NULL DEFAULT NULL,
  `last_updated_by` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_material_id` (`material_id`),
  KEY `idx_location` (`location`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `material_stock_ibfk_1` FOREIGN KEY (`material_id`) REFERENCES `master_material` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material_stock`
--

LOCK TABLES `material_stock` WRITE;
/*!40000 ALTER TABLE `material_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `material_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_transactions`
--

DROP TABLE IF EXISTS `stock_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `transaction_number` varchar(50) NOT NULL,
  `transaction_type` enum('WIP_IN','WIP_OUT','WIP_TO_FG','FG_IN','FG_OUT','FG_SHIPPED','ADJUSTMENT','TRANSFER') NOT NULL,
  `stock_type` enum('WIP','FG') NOT NULL,
  `partnumber` varchar(50) NOT NULL,
  `customer` varchar(100) NOT NULL,
  `lotnumber` varchar(50) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `quantity_before` int(11) DEFAULT 0,
  `quantity_after` int(11) DEFAULT 0,
  `location_from` varchar(50) DEFAULT NULL,
  `location_to` varchar(50) DEFAULT NULL,
  `reference_number` varchar(100) DEFAULT NULL,
  `machine_id` varchar(50) DEFAULT NULL,
  `operator` varchar(100) DEFAULT NULL,
  `shift` enum('SHIFT_1','SHIFT_2','SHIFT_3') DEFAULT NULL,
  `transaction_date` date NOT NULL,
  `transaction_time` time DEFAULT curtime(),
  `notes` text DEFAULT NULL,
  `created_by` varchar(100) DEFAULT NULL,
  `approved_by` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_number` (`transaction_number`),
  KEY `idx_transaction_number` (`transaction_number`),
  KEY `idx_transaction_type` (`transaction_type`),
  KEY `idx_stock_type` (`stock_type`),
  KEY `idx_partnumber` (`partnumber`),
  KEY `idx_customer` (`customer`),
  KEY `idx_transaction_date` (`transaction_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_transactions`
--

LOCK TABLES `stock_transactions` WRITE;
/*!40000 ALTER TABLE `stock_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fg`
--

DROP TABLE IF EXISTS `fg`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fg` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `partnumber` varchar(50) NOT NULL,
  `customer` varchar(100) NOT NULL,
  `model` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `lotnumber` varchar(50) DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `unit` varchar(20) DEFAULT 'PCS',
  `location` varchar(50) DEFAULT 'FG_WAREHOUSE',
  `storage_area` varchar(50) DEFAULT NULL,
  `pallet_number` varchar(50) DEFAULT NULL,
  `production_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `qc_status` enum('PASS','FAIL','PENDING') DEFAULT 'PASS',
  `shipping_status` enum('AVAILABLE','RESERVED','SHIPPED') DEFAULT 'AVAILABLE',
  `customer_po` varchar(100) DEFAULT NULL,
  `delivery_date` date DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` varchar(100) DEFAULT NULL,
  `updated_by` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_partnumber` (`partnumber`),
  KEY `idx_customer` (`customer`),
  KEY `idx_location` (`location`),
  KEY `idx_shipping_status` (`shipping_status`),
  KEY `idx_delivery_date` (`delivery_date`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fg`
--

LOCK TABLES `fg` WRITE;
/*!40000 ALTER TABLE `fg` DISABLE KEYS */;
INSERT INTO `fg` VALUES (1,'PN003','HONDA','MODEL-C','Finished Dashboard','FG001',80,'PCS','FG_WAREHOUSE','AREA-A',NULL,'2025-08-05',NULL,'PASS','AVAILABLE',NULL,NULL,NULL,'SYSTEM',NULL,'2025-08-05 14:04:56','2025-08-05 14:04:56'),(2,'PN004','TOYOTA','MODEL-D','Engine Assembly','FG002',30,'PCS','FG_WAREHOUSE','AREA-B',NULL,'2025-08-05',NULL,'PASS','RESERVED',NULL,'2025-08-12',NULL,'SYSTEM',NULL,'2025-08-05 14:04:56','2025-08-05 14:04:56');
/*!40000 ALTER TABLE `fg` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wip`
--

DROP TABLE IF EXISTS `wip`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wip` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `partnumber` varchar(50) NOT NULL,
  `customer` varchar(100) NOT NULL,
  `model` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `lotnumber` varchar(50) DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `unit` varchar(20) DEFAULT 'PCS',
  `location` varchar(50) DEFAULT 'WIP_WAREHOUSE',
  `machine_id` varchar(50) DEFAULT NULL,
  `operator` varchar(100) DEFAULT NULL,
  `shift` enum('SHIFT_1','SHIFT_2','SHIFT_3') DEFAULT 'SHIFT_1',
  `production_date` date DEFAULT NULL,
  `status` enum('IN_PROCESS','HOLD','QC_PENDING','READY_TO_TRANSFER') DEFAULT 'IN_PROCESS',
  `qc_status` enum('PENDING','PASS','FAIL','REWORK') DEFAULT 'PENDING',
  `notes` text DEFAULT NULL,
  `created_by` varchar(100) DEFAULT NULL,
  `updated_by` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_partnumber` (`partnumber`),
  KEY `idx_customer` (`customer`),
  KEY `idx_location` (`location`),
  KEY `idx_status` (`status`),
  KEY `idx_production_date` (`production_date`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wip`
--

LOCK TABLES `wip` WRITE;
/*!40000 ALTER TABLE `wip` DISABLE KEYS */;
INSERT INTO `wip` VALUES (1,'PN001','HONDA','MODEL-A','Dashboard Component','WIP001',100,'PCS','WIP_WAREHOUSE','MC001','operator1','SHIFT_1','2025-08-05','IN_PROCESS','PENDING',NULL,'SYSTEM',NULL,'2025-08-05 14:04:44','2025-08-05 14:04:44'),(2,'PN002','TOYOTA','MODEL-B','Engine Part','WIP002',50,'PCS','WIP_WAREHOUSE','MC002','operator1','SHIFT_1','2025-08-05','READY_TO_TRANSFER','PASS',NULL,'SYSTEM',NULL,'2025-08-05 14:04:44','2025-08-05 14:04:44');
/*!40000 ALTER TABLE `wip` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-07 14:48:53
